/*******************************
/            GENERAL
/*******************************/

@font-face {
  font-family: 'CMUSerifRoman';;
  src: url(./fonts/cmu.serif-roman.ttf);
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url(./fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: url(./fonts/IBMPlexMono-Regular.ttf);
}

:root{
  --wine: rgb(80, 10, 10);
  --midwine: #890808;
  --grey: rgb(80,80,90);
  --transparent-darkgrey: rgba(70,110,160,0.3);
  --bars-padding-y: 0.5vw;
  --olivegreen: rgba(39, 155, 37, 0.5);
  --darkyellow: rgb(167, 144, 11);
  --transparent-darkyellow: rgba(167, 144, 11, 0.5);
  --p: calc(10px + 0.4vw + 0.2vh);
}

 body{
    margin: 0;
    max-width: 100vw;
    background-image:
      linear-gradient(
        to top right,
        rgb(70,70,90), rgb(190,190,200), rgb(220,225,232), white , rgb(220,225,232), rgb(190,190,200), rgb(70,70,90)
      );
    background-size: cover;
    background-attachment: fixed;
 }

 br{
    margin-bottom: 2vw;
 }

 h2{
    color: var(--midwine);
    font-family: 'Ole', cursive;
    font-size: calc(2.3 * var(--p));
 }

 a {
   text-decoration: none;
   color: black;
 }

 section{
  min-height: 81.8vh;
 }

 p{
  font-size: var(--p);
 }


 /*******************************
/            HOME
/*******************************/

 #home_section a:link, a:visited{
   text-decoration: none;
   color: black;
 }

  #home_section a:hover{
   background-color: black;
   padding: 0 15px;
   margin: 0 -15px;
   color:white;
   border-radius: 5px;
 }

/*******************************
/            HEADER
/*******************************/

 .top-bar, footer{
   background-color: black;
   padding: var(--bars-padding-y) 1vw;
   color: white;
   font-family: arial;
   font-weight: bold;
   text-align: center;
 }

 nav{
	background-color: white;
 	font-family: 'Ole', cursive;
  font-size: calc(2 * var(--p));
	padding: 2vw 18vw;
 }

 #nav-bar{
  display: flex;
  justify-content:space-between;
  margin:0;
  padding:0;
 }

 .display-nav-bar{
  display: block;
 }

 #hamburger{
  margin:0 auto;
  padding:0;
  width: calc(20px + 5vw);
  display: none;
 }

 #hamburger:hover{
  cursor: pointer;
 }

/***********************************
/            ABOUT TAB
/**********************************/

#profile-pic{
   border-radius: 2px 40px;
   width: 15%;
   margin: 5vw auto 1vw auto;
   display: flex;
}

.profile-pic-container{
  text-align: center;
}

.profile-pic-container p{
  font-size: calc(0.7 * var(--p));
  max-width: 20vw;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  color: darkolivegreen;
}

#home_section > #pane{
    background-color: var(--transparent-darkgrey);
    width: 60vw;
    margin: 5vw auto;
    padding: 2vw 3vw;
    border-radius: 1vw;
    font-family: 'CMUSerifRoman';
    font-size: calc(0.9 * var(--p));
}

#home_section h2{
  font-family: 'IBM Plex Mono', monospace;
  font-size: calc(1.5 * var(--p));
  font-weight: 200;
  margin: 2.5vw 0 2vw;
}

.badges{
  padding: 0;
  width: fit-content;
  margin: 0 auto;
}

.badges li{
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(0.7 * var(--p));
  width: fit-content;
  padding: 0.2vw 0.8vw;
  border-radius: 10px;
}

.badges li:first-child{
  background-color: hotpink;
}

.badges :nth-child(2) {
  background-color: chartreuse;
}
.badges li:nth-child(4n){
  background-color: blueviolet;font-family: 'Ubuntu', sans-serif;
}

.badges li:nth-child(5n){
  background-color: cadetblue;
}

.badges li:nth-child(3n){
  background-color: darkgoldenrod;
}

.badges li:nth-child(7n) {
  background-color: lightsalmon;
}

/*******************************
/           ARTICLES
/*******************************/

#my_articles_section div{
   color: rgb(100,100,100);
   text-align: left;
   font-size: var(--p);
   font-family: 'Ubuntu', sans-serif;
   width: 27vw;
   border-radius: 3%;
   background-color: white;
   margin: 0 2vw;
}


#my_articles_section img{
   max-height: 15vw;
   border-top-right-radius: 3%;
   border-top-left-radius: 3%;
}

#my_articles_section p{
   padding-left: 1.3vw;
   padding-right: 1.3vw;
   margin: 0;
}

#my_articles_section span{
   padding: 0.7vw 0 1.1vw 1.3vw;
   align-items: center;
   color: rgb(150,150,150);
}

#my_articles_section h4{
   padding: 0 1.3vw;
   margin-top: 0.8vw;
   color: rgb(50,120,200);
   margin-bottom: 0.5vw;
}

#my_articles_section h5{
   margin: 0 0 0 0.8vw;
}

#link_img{
   width: 11px;
   height: 11px;
   clip-path: inset(0px 0px 0px 0px);
   margin-top: 0;
}

.tag{
   display: flex;
   padding: 0.3vw 0;
   width: fit-content;
   color: black;
   font-size: calc(0.9 * var(--p));
   align-items: center;
   position: absolute;
   border-top-left-radius: 3px;
   border-bottom-right-radius: 5px;
}

#my_articles_section, #my_art_section{
  grid-template-columns:auto auto auto;
  text-align:center;
  justify-content: center;
  align-content: center;
  row-gap:3vw;
  margin: 4vw auto;
}

#info-text{
  position: absolute;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 1vw 2vw;
  color: white;
  max-width: 40%;
  border-radius: 5px;
}

/*******************************
/         RESOURCES
/******************************/

#resources_section{
  align-items: center;
}

.resources_section a{
  text-decoration: none;
  color: black;
  margin: 2vw 0;
}

#buttons {
  display: flex;
  padding: 0;
  margin: 0 auto;
  height: fit-content;
}

#buttons li{
  background-color: white;
  font-family: 'Mountains of Christmas', cursive;
  font-size: calc(1.3 * var(--p));
  padding: 0.7vw 1.2vw;
  border-radius: 1vw;
  border: 0.5vw solid #550a0a;
  text-align: center;
  width: 19vw;
  min-height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw;
}

#buttons li:hover{
  background-color: black;
  border: 5px solid black;
  color: white;
}

/*******************************
/       MY ART SECTION
/*******************************/

#my_art_section div{
  width: 20vw;
  margin: 0 2vw;
  display: flex;
  background-color: rgba(80, 80, 80, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 3%;
}

#my_art_section img{
  max-width: 100%;
}

/*******************************
/       CONTACT ME SECTION
/*******************************/

.contact_me_section {
  display: block;
  font-family: 'Ubuntu', sans-serif;
}

.contact_me_section p {
  color: rgba(0, 0, 0, 0);
  background-color: red;
}

.contact_window{
  width: fit-content;
  position: relative;
  background-color: white;
  padding: calc(10px + 2vw);
  border: 2px solid cadetblue;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact_window a{
  color: var(--midwine);
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: var(--p);
}

.contact_window p{
  width: calc(150px + 8vw);
  margin-top: 0;
}

 /************************************************
 /
 /           	RESPONSIVE DESIGN
 /
 /************************************************/

  /*	Screen: 700px - 900px
   *******************************/

@media screen and (max-width: 900px) {
   .top-bar, footer{
       padding: 0.7vw 2vw;
       font-size: var(--p);
   }

   nav{
     font-size: calc(2.5 * var(--p));
   }

   /* ----- home section ------*/

   #profile-pic{
    width: 20vw;
    margin: 7vw auto 1vw auto;
    border-radius: 5px;
   }

   #home_section > #pane{
     width: 62vw;
   }

   #pane p{
    font-size: calc(1.5 * var(--p));
   }

   #home_section h2 {
    font-size: calc(1.7 * var(--p));
    margin-top: 2.6vw;
   }

   h2{
     font-size: calc(2.7 * var(--p));
   }
}
  /*	Screen: less than 700px
   *******************************/

@media screen and (max-width: 700px) {
  .top-bar, footer{
    padding: 0.8vw 1vw;
    font-size: 2.5vw;
  }

   h2{
     font-size: 4.5vw;
   }

   h4{
    font-size: 2.5vw;
   }

   h5{
    font-size: 2vw;
   }

   p{
    font-size: 2.8vw;
   }


  /* ---- header ----- */

   #hamburger{
    display:block;
    margin: 2vw auto;
   }

   nav{
    display:block;
    justify-content: center;
   }

   #nav-bar li{
    font-size: 5vw;
    width: fit-content;
    margin: 0 auto;
   }

   #nav-bar{
    display: none;
    padding-left: 0;
    text-align: center;
   }

   /* ----- home section ------*/

   #home_section > #pane{
    margin-bottom: 8vw;
    padding: 2vw 6vw;
  }

   #pane p{
     font-size: 3vw;
   }

   #home_section h2{
    font-size: 2.8vw;
    margin: 4vw 0 3.2vw 0;
   }

   #profile-pic{
    width: 36vw;
    margin: 10vw auto 2vw auto;
    border-radius: 5px;
   }

   .profile-pic-container p {
    font-size: 2.4vw;
    max-width: 30vw;
   }

   /* ----- resources ------*/

   #buttons li{
    font-size: 3vw;
    padding: 0.7vw 1.2vw;
    width: 40vw;
    min-height: 10vw;
    margin: 4vw;
  }

   /* ---- my articles, my art ----- */

  #my_articles_section, #my_art_section{
    margin: 3vw auto;
  }

  #my_articles_section div, #my_art_section div{
    margin: 5vw auto;
    width: 50vw;
  }

  #my_articles_section img{
    max-height: 30vw;
  }

  #my_art_section img{
    max-height: 50vw;
  }  

  .tag{
    height: 4vw;
    width: 12vw;
    font-size: 2vw;
 }

   /* ---- contact me ----- */

   .contact_window a{
    font-size: 2.8vw;
   }

}
