/*******************************************************************************
 * ===========================================================================
 * ------------------------------ MOBILE LAYOUT ------------------------------
 * ===========================================================================
 * *****************************************************************************/

@media(max-width:700px){
	
/******************************************************
 *--------------------- General -----------------------
 * ****************************************************/

h2{
	font-size:calc(3 * var(--p)) !important;
}
	
/*--------------------------
 * ------- HEADER ----------
 * ------------------------*/
	
.style-xLwdIMLPC_l-nav{
	border-bottom: 2px solid #80808080
}
.style-ovGY-KybgF-inner{
	margin-right: calc(12px + 0.2vw)
}

.style-ys3EX-ASA-image{
	margin-left: 0 !important;
}

.style-ljl-MKRjPT-inner{
	margin: 0 !important;
}
	

/******************************************************
 *-------------------- HOME TAB -----------------------
 * ****************************************************/
	
/*--------------------------
 * ------- Nosotros --------
 * ------------------------*/

.style-D41H0YOeju-inner {
  & h2 {
    margin-bottom: calc(24px + 1vw) !important;
  }
}

/*---------------------------
 * ------- Servicios --------
 * ------------------------*/
	
.style-y06kG_Z2hde-align, .style-LuOD4KxdGWc-align{
		& h2{
			font-size:calc(3 * var(--p)) !important;
			margin-bottom: calc(24px + 1vw) !important;
		}
}

/**************************** END MOBILE *******************************/
}
