/*******************************************************************************
 * ===========================================================================
 *	-------------------------- TABLET LAYOUT --------------------------------
 * ===========================================================================
 * *****************************************************************************/
@media (max-width:900px){

/******************************************************
 *--------------------- General -----------------------
 * ****************************************************/

/*--------------------------
 * ------- HEADER ----------
 * ------------------------*/

.wp-block-kubio-dropdown-menu li {
	margin: 0 calc(6px + 0.1vw) !important;
	& a{
		font-size: calc(1.15 * var(--p)) !important;
	}
}

.style-JkMvjryyOu--icon{
	height: calc(30px + 0.5vw) !important;
	width: calc(30px + 0.5vw) !important;
}
	
/******************************************************
 *-------------------- HOME TAB -----------------------
 * ****************************************************/

	.style-oNnHA1d0kdQ-outer ul{
	gap: unset !important;
	}
	
	.style-Gp3qTlxXlu-outer {
		margin: auto 20px !important;
	}

/*---------------------------
 * ------- Servicios --------
 * ------------------------*/

	.style-y06kG_Z2hde-align, .style-LuOD4KxdGWc-align {
  & h2 {
    font-size: calc(3 * var(--p)) !important;
		margin-bottom: calc(20px + 0.5vw) !important;
  }
}
	
/*--------------------------
 * ------- Nosotros --------
 * ------------------------*/

	.style-D41H0YOeju-inner p{
		font-size: calc(1.1 * var(--p));
	}

/*---------------------------
 * ------- Servicios --------
 * ------------------------*/
	
	.style-QuO6S_EJ4WK-inner, .style-ardmWhLhqNg-inner{
		& .wp-block-kubio-column{
			max-width: 44% !important;
		}
	}

/******************************************************
 *------------------ SERVICES TAB ---------------------
 * ****************************************************/

	
.style-DbkmkmgSJj-align .wp-block-kubio-column{
	min-width: 94%;
		
	& img{
		max-width: 60% !important;
		margin: auto;
	}
}
	
.wp-block.wp-block-kubio-heading__text.style-fBa56IeCRNx-text{
	text-align:center !important;
	max-width: 80% !important;
	margin: auto auto 20px auto;
	font-size: calc(2 * var(--p)) !important;
}

/******************************* END TABLET LAYOUT *********************************/
}

