/*******************************************************************************
 * ===========================================================================
 *															MOBILE LAYOUT
 * ===========================================================================
 * *****************************************************************************/

/*----------------
 * 		HEADER_m
 * --------------*/

@media(max-width:600px){
.style-xLwdIMLPC_l-nav{
	border-bottom: 2px solid #80808080
}
.style-ovGY-KybgF-inner{
	margin-right: calc(12px + 0.2vw)
}

.style-ys3EX-ASA-image{
	margin-left: 10px
}

.style-ljl-MKRjPT-inner{
	margin: 0 !important;
}
	


}
